*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar
hs_err_pid*
/build/
/minecraft_data
/target/
/.idea/
/.settings/
!.settings/org.eclipse.core.resources.prefs
*.jardesc
.project
.classpath
/bin/
/.gradle/